/* Стили модального окна */
.okno-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.okno .butn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.okno .butn-close:hover {
    color: red;
}
/* слой затемнения */
.okno-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.okno-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.okno-open:checked ~ .okno-wrap:before,
.okno-open:checked ~ .okno-wrap .okno-overlay {
    display: block;
}
.okno-open:checked ~ .okno-wrap .okno-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.okno-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.okno-body {
  padding: 20px;
}
.okno-body p {
    margin: 0;
}
.okno-header,
.okno-footer {
    padding: 20px 20px;
}
.okno-header {
    border-bottom: #eaeaea solid 1px;
}
.okno-header h2 {
    font-size: 20px;
    margin: 0;
}
.okno-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.okno-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.butn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}
.butn:hover, .butn:focus {
    background: #f2f2f2;
}
.butn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.butn-primary:hover{
    background: #66A1D3;
}

.userlabel {
    color: #337ab7;
}

.userlabel:hover{
    color:  #0000FF;
    cursor: pointer;  
    text-decoration: underline;
}